################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VB/.vs
/VB/bin/Debug
/VB/obj/Debug
/VB/obj/Release
/VB/bin/Release
